.menu-settings{
    display: flex;             
    justify-content: center;    
    gap: 25px;                 
    list-style: none;          
    padding: 0;
}

.menu li a {
    text-decoration: none;      
    font-size: 20px;
    color: #3b2a8a;
}

